.contact-bar {
  z-index: 9999;
}
.nav-bar {
  background: #212125;
  top: 35px !important;
  z-index: 9999;
}

.expertise-section {
  width: 60%;
  margin-left: 20%;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 50px;
  font-family: "Oswald", sans-serif;
  padding-bottom: 50px;
  border-bottom: 1px solid #e2e2e2;

  h1 {
    font-size: 80px;
  }
  p {
    font-size: 36px;
  }
}

#header-expertise {
  height: 20vh;
}

.expertise-main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin: 5% 20%;

  .img-cover {
    position: relative;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    overflow: hidden;

    img {
      opacity: 0;
      transition: opacity 1s;
      height: 100%;
      width: 100%;
      transition: all 0.5s;
    }

    .img-title {
      position: absolute;
      width: 100%;
      text-align: center;
      font-family: "Caveat", cursive;
      font-size: 25px;
      color: #ffffff;
      top: 0;
      opacity: 0;
      transition: all 0.5s;
    }
    &::after {
      content: "";
      position: absolute;
      border: 2px solid #ffffff;
      top: 5%;
      left: 5%;
      width: 90%;
      height: 90%;
      opacity: 0;
      transition: all 0.5s;
    }

    &:hover img {
      transform: scale(1.2);
      filter: brightness(50%);
    }

    &:hover::after {
      opacity: 1 !important;
    }

    &:hover .img-title {
      opacity: 1;
      top: 30%;
    }
  }

  .opacity {
    opacity: 1 !important;
  }
}
