//For screens 1025px and below

@media (max-width: 1025px) {
  #header-main {
    width: 84vh;
  }
}

//For the tablets
@media (max-width: 800px) {
  #header-main {
    width: 113vh;
  }
}

//Smartphones
@media (max-width: 500px) {
  #header-main {
    width: 100%;

    .contact-bar {
      width: fit-content;
      position: relative;
    }
  }

  .nav-bar {
    display: block !important;
    top: 0;
    padding-top: 0;
    padding-bottom: 0;
    position: relative !important;

    img {
      display: none;
    }

    .category {
      display: block !important;
      padding-top: 0 !important;
      padding-left: 30px;

      .left {
        padding: 20px;
      }
      .right {
      }
    }
  }

  .bg {
    background: none !important;
  }
  .home-banner {
    transform: scale(0.5);
  }

  .index-section {
    display: block;

    .award-winning-a .bg-dark .fade-in {
      padding-left: 0;
      transform: scale(0.8);
    }

    section .award-winning-a .bg-dark .content {
      padding-left: 0;
    }

    .award-winning-b .fade-in {
      transform: scale(0.7);
      padding-left: 0;
    }
  }

  .index-footer {
    position: relative;
    top: 500px;
  }
}
