//For screens 1025px and below

@media (max-width: 1025px) {
}

//For the tablets
@media (max-width: 800px) {
  #header-main {
    height: 30rem;

    .home-banner {
      transform: scale(0.5);
      padding-top: 15%;
    }

    a {
      padding: 0;
    }

    .contact-bar {
      z-index: 1;
    }
    .nav-bar {
      z-index: 1;
    }
  }

  .index-section {
    grid-template-columns: repeat(1, 1fr);

    .award-winning-a {
      .bg-dark {
        .fade-in {
          padding-left: 100px;
          transform: scale(0.8);
        }
      }
    }
    .award-winning-b {
      .content-a {
        transform: scale(0.8);
      }
    }
  }
  footer {
    display: none;
  }
}

//Smartphones
@media (max-width: 500px) {
  #header-main {
    height: 30rem;

    .home-banner {
      transform: scale(0.3);
      padding-top: 15%;
    }

    a {
      padding: 0;
    }

    .contact-bar {
      z-index: 1;
    }
    .nav-bar {
      z-index: 1;
      flex-direction: column;
    }
  }

  .index-section {
    display: block;

    .award-winning-a {
      .bg-dark {
        .fade-in {
          padding-left: 100px;
          transform: scale(0.7);
          padding-left: 0;
        }
      }
    }
    .award-winning-b {
      .content-a {
        transform: scale(0.7);
        padding-left: 0;
      }
    }
  }
}
